.venv

\#*\#
\.#*

*.csv
!all_pairs.csv

data_scripts/gh_access_token.txt
**/__pycache__
clones/
gh_access_token.txt

notebook/checkpoints/
notebook/.ipynb_checkpoints/
data/
notebook/unsupervised_cache.data-*
notebook/unsupervised_cache.index
*.pkl
*.png
